@use './library' as lib;

body {
  background-color: lib.$bg-color;
  font-family: 'Urbanist', sans-serif;
}

.cta {
  color: lib.$cta-color;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
    // margin: 0px 131.5px !important;
  }
}

@media screen and (max-width: 728px) {
  .container {
    width: auto;
    // margin: 0px 131.5px !important;
  }
}