.button {
    background-color: #292929;
    color: #e19851;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 2px;
    width: 400px;
    margin: 40px auto 0 auto;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

    -webkit-box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.75);

    transform: translateY(0);
    transition: transform 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out, box-shadow 0.1s ease-out;

    &:hover {
        transform: translateY(5px);
        background-color: #e19851;
        color: #292929;
        box-shadow: none;
    }
}

@media screen and (max-width: 500px) {
    .button {
        width: 300px;
    }
}