@use './library' as lib;

.skills {
    height: auto;
    margin: 0 0 200px 0;
    cursor: default;

    .container {
        width: 80%;
        position: relative;

        .cards {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(6, 1fr);
            background-color: lib.$dark-cta-color;
            justify-items: center;
            align-items: center;
            border-radius: 10px;
            -webkit-box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 7px 40px -10px rgba(0, 0, 0, 0.75);

            .title {
                grid-area: 1 / 1 / 2 / 7;

                h1 {
                    font-family: 'Source Code Pro', monospace;
                    font-weight: 400;
                    font-size: 25px;
                    text-transform: capitalize;
                    color: lib.$cta-color;
                }
            }

            .card {
                padding: 10px;
                height: 4rem;
            }
        }
    }
}

@media (max-width: 991px) {
    .cards {
        .title {
            grid-area: 1 / 1 / 2 / 5 !important;
        }

        grid-template-columns: repeat(4, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }
}

@media (max-width: 728px) {
    .cards {
        .title {
            grid-area: 1 / 1 / 2 / 4 !important;
        }

        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;
    }
}